.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--BBackground);
    font-family: var(--font);
    overflow-y: auto;
}

.buttons {
    position: sticky;
    top: 0;
    z-index: 1; /* Asegúrate de que los botones estén sobre el contenido */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px; /* Agrega un poco de espacio alrededor de los botones */
    margin-top: 5rem;
}

.buttons button {
    margin: 5px;
    padding: 20px;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 31px;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
}

.buttons button:hover {
    background-color: #2980b9;
}

.formulario {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 600px; /* Ancho máximo del formulario */
    width: 100%;
    margin: 20px auto; /* Centra horizontalmente el formulario y agrega margen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.formulario input[type=file]{
    font-size: 15px;
}

.formulario label:last-child,
.formulario input:last-child,
.formulario select:last-child {
    margin-bottom: 10px; /* Reducir el margen inferior del último elemento */
}

.formulario button {
    margin-top: 10px; /* Añadir un pequeño margen superior al botón */
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.formulario button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .formulario {
        max-width: 90%; /* Reducir el ancho máximo en pantallas más pequeñas */
    }
}

select {
    background-color: var(--button-color);
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 1rem;
}

    @media screen and (max-width: 600px) {
        .buttons {
            flex-direction: column;
            align-items: center;
        }

        .buttons button {
            width: 90%;
            font-size: 18px;
        }
    }
